<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<script src="/bootstrap/jquery/jquery.min.js"></script>
		<script src="/bootstrap/popper/popper.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/custom-styles.css">

        <title>FreelanceSLO - Admin - Prijave</title>
    </head>
    <body class="gf-admin-form-background">
        <nav class="navbar fixed-top navbar-expand-md navbar-light gf-header-admin">	
			<a class="navbar-brand text-light" href="/index.html">FreelanceSLO</a>

			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="navbar-collapse collapse" id="navbarCollapse">
				<a class="nav-item nav-link text-light" href="/delavci/nav/login-register">Delavci</a>
				<a class="nav-item nav-link text-light" href="/podjetja/nav/login-register">Podjetja</a>
				<a class="nav-item nav-link text-light" href="/admin/nav/">Administratorji</a>
			  </div>
		</nav>

        <main role="main"">
            <div class="container">
                <div class="alert alert-success" role="alert">
                    <h1 class="alert-heading">Prijava poslana.</h1>
                    <hr>
                    <p><%=message%></p>
                </div>
            </div>
        </main>
    
    </body>
</html>